.menu {
    background: #ff9900;
/*  background-color: #f78b08b6;  */
    display: flex;
    justify-content: space-evenly;
    max-height: 4em;
    min-height: 4em;
    align-items: center;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
  } 
  
