.menu {
    background-color: #f78b08da;
    display: flex;
    justify-content: space-evenly;
    max-height: 4em;
    min-height: 4em;
    align-items: center;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
  }  