.menu {
    background: linear-gradient(to top left, #ff9900 40%, #ff0000 100%);
/*  background-color: #f78b08b6;  */
    display: flex;
    justify-content: space-evenly;
    max-height: 4em;
    min-height: 4em;
    align-items: center;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
  } 
  
  
  /*
  background-color: #f78b08da;
  background: linear-gradient(to bottom, #f78b08da 0%, #000000 100%);
  */