.button {
    background-color: #cccccc;
    color: black;
    border: none;
    outline: none;
    padding: 0.7em;
    margin: 0.5em;
    border-radius: 0.2em;
    box-shadow: rgba(0, 0, 0, 0.5) 0px 2px 2px;
    font-weight: bold;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    opacity: 0.8;
}

.button:active {
    box-shadow: rgba(0, 0, 0, 0.5) 0px 2px 5px;
    background-color: #999999;
}

.button:hover {
    opacity: 1;
}

.button--primary {
    background: radial-gradient(circle, rgba(255,151,0,1) 50%, rgba(255,0,52,1) 80%);
    color: #000000;
}

.button--primary:active {
    background: radial-gradient(circle, rgb(255, 183, 75) 50%, rgb(247, 58, 96) 80%);
}

.button--secondary {
    background: linear-gradient(to top left, #ffb13c 0%, #f83e3e 100%);
    color: #000000;
    font-weight: bold;
}

.button--secondary:active {
    background: linear-gradient(to top left, #fa9c0f 0%, #f71111 100%);
}

.button:disabled {
    background-color: #cccccc;
    box-shadow: none;
    color: #999999;
}

.button--floating {
    position: fixed;
    bottom: 5rem;
    right: 1rem;  
    border-radius: 50%;
    font-size: 2.5rem;
    width: 1.9rem;
    height: 1.9rem;
    line-height: 1.9em;
}

.button--third {
    background: linear-gradient(to bottom right, #fca421 40%, #fa2626 100%);
    color: #000000;
}