.stats {
    padding: 0.5em;
    display: flex;
    flex-direction: column;
    min-height: 100%;
    box-sizing: border-box;
}

.stats__graph {
    position: relative;
    height: 15em;
}

.stats h3 {
    margin-top: 2em;
    margin-bottom: 2em;
    align-items: center;
    text-align: center;
    justify-content: center;
    color: #ffffffe8;
    font-size: larger;
}

.stats h2 {
    justify-content: center;
    display: flex;
    margin: 1em;
    color: rgb(218, 218, 218);
}

