@import url('https://fonts.googleapis.com/css2?family=Ubuntu:wght@300;400;500&display=swap');

* {
  margin: 0;
  padding: 0;
}

.App {
  max-width: 38em;
  margin: 0 auto;
  height: 100vh;
  display: flex;
  flex-direction: column;
  font-family: 'Ubuntu', sans-serif;
  color: #000000;
  background-color: #1a1919;
  transform: translateZ(0);
}

.App > * {
  flex: 1 1 auto;
  /* background-color: #1f1e1e; */
}

.kokonaan {
background-color: #000000de;
}

.app_welcome {
  padding-top: 3em;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 2em;
}